body {
  font-family: 'Libre Baskerville', serif;
}

.fb-logo {
  height: 4vh;
  width: auto;
}

.bg-img-fire {
  background-image: url(https://images.unsplash.com/photo-1583248352195-d3a8e766edf2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80);
  min-height: 40vh;
  background-size: cover;
  background-position: start;
}

.bg-img-a {
  background-image: url(https://images.unsplash.com/photo-1524207874394-5ec7c8c8e1a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
}

.bg-img-b {
  background-image: url(https://images.unsplash.com/photo-1604162953277-caf22e545661?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YnJvd258ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
}

.bg-img-c {
  background-image: url(https://images.unsplash.com/photo-1608648682094-e3024959c6d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}

.img-box {
  height: 40vh;
  width: 25vw;
  text-shadow: .5em;
}

.txt-shadow {
  text-shadow: 3px 3px 6px #000000;
}

.txt-shadow-red {
  text-shadow: 3px 3px 6px #e21414;
}

div h2 {
  margin-top: 5em;
}

.margin-l {
  margin-top: 12em;
}